---
layout: layouts/base.njk
---

<section id="work" class="work section">

	<header class="section-header">

		<h2 class="section-title">Selected Work</h2>

	</header>

	<ul class="projects">

		{%- for project in collections.work -%}

			{% if project.data.isFeatured == 'yes' %}

				<li class="project">

					<div class="thumbnail">

						<a href="{{ project.data.slug }}.html">

							<img src="/media/work/{{ project.data.slug }}-large.jpg" width="640" height="512" alt="Large screen view of {{ project.data.title }}" />

							{% if project.data.overlay.size == 'small' %}

								<div class="overlay small">

									<img src="/media/work/{{ project.data.slug }}-small.jpg" width="200" height="355" alt="Small screen view of {{ project.data.title }}" />

								</div>

							{% endif %}

							{% if project.data.overlay.size == 'medium' %}

								<div class="overlay medium">

									<img src="/media/work/{{ project.data.slug }}-medium.jpg" width="200" height="355" alt="Medium screen view of {{ project.data.title }}" />

								</div>

							{% endif %}

						</a>

					</div>

					<h3 class="title">

						<a href="{{ project.data.slug }}.html">{{ project.data.title }}</a>

					</h3>

					<div class="responsibilities">

						<ul>

							{%- for responsibility in project.data.responsibilities -%}

								<li>{{ responsibility }}</li>

							{%- endfor -%}

						</ul>

					</div>

				</li>

			{% endif %}

		{%- endfor -%}

	</ul>

</section>

<section id="archive" class="archive section">

	<header class="section-header">

		<h2 class="section-title">Archive</h2>

	</header>

	<ul class="projects">

		{%- for project in collections.work -%}

			<li class="project">

				<h3 class="title">

					<a href="{{ project.data.slug }}.html">{{ project.data.title }}</a>

				</h3>

			</li>

		{%- endfor -%}

	</ul>

</section>
