---
layout: layouts/base.njk
---

<section id="work" class="work section section__work">

	<header class="section-header section__header">

		<h2 class="section-title section__title">Selected Work</h2>

	</header>

	<ul class="projects project__list project__list--featured">

		{%- for project in collections.work -%}

			{% if project.data.isFeatured == 'yes' %}

				<li class="project project__item project__item--featured">

					<div class="thumbnail project__thumbnail project__thumbnail--featured">

						<a href="{{ project.data.slug }}.html" class="project__link project__link--featured">

							<img src="/media/work/{{ project.data.slug }}-large.jpg" width="640" height="512" alt="Large screen view of {{ project.data.title }}" class="project__image project__image--featured" />

							{% if project.data.overlay.size == 'small' %}

								<div class="overlay small project__overlay project__overlay--small">

									<img src="/media/work/{{ project.data.slug }}-small.jpg" width="200" height="355" alt="Small screen view of {{ project.data.title }}" />

								</div>

							{% endif %}

							{% if project.data.overlay.size == 'medium' %}

								<div class="overlay medium project__overlay project__overlay--medium">

									<img src="/media/work/{{ project.data.slug }}-medium.jpg" width="200" height="355" alt="Medium screen view of {{ project.data.title }}" />

								</div>

							{% endif %}

						</a>

					</div>

					<h3 class="title project__title project__title--featured">

						<a href="{{ project.data.slug }}.html">{{ project.data.title }}</a>

					</h3>

					<div class="responsibilities">

						<ul class="responsibilities__list">

							{%- for responsibility in project.data.responsibilities -%}

								<li class="responsibilities__item">{{ responsibility }}</li>

							{%- endfor -%}

						</ul>

					</div>

				</li>

			{% endif %}

		{%- endfor -%}

	</ul>

</section>
