/*------------------------------
Styles
------------------------------*/

html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article, aside, footer, header, nav, section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption, figure, main {
	display: block;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:active, a:hover {
	outline-width: 0;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b, strong {
	font-weight: inherit;
}

b, strong {
	font-weight: bolder;
}

code, kbd, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size:80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio, video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button, input, optgroup, select, textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button, input {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"], [type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details, menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

@font-face {
	font-family: "Title";
	src: url("/assets/fonts/title/title.woff2") format("woff2"), url("/assets/fonts/title/title.woff") format("woff");
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY0YoSjA9Xuo4QbJtZzZwuAs.woff) format("woff");
	unicode-range: U + 0460-052F, U + 20B4, U + 2DE0-2DFF, U + A640-A69F;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY3cob3rbZWrcXRYZcLb-rQQ.woff) format("woff");
	unicode-range: U + 0400-045F, U + 0490-0491, U + 04B0-04B1, U + 2116;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY2rf1eSEfBjE96q0OnCTSXw.woff) format("woff");
	unicode-range: U + 1F00-1FFF;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY2LsPWhol3uFAv_eUle7yVw.woff) format("woff");
	unicode-range: U + 0370-03FF;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY7RsNIf_kK-0eqscXuWZX_c.woff) format("woff");
	unicode-range: U + 0102-0103, U + 1EA0-1EF9, U + 20AB;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpYx_quwpF5VQRtO_OGdWuV3s.woff) format("woff");
	unicode-range: U + 0100-024F, U + 1E00-1EFF, U + 20A0-20AB, U + 20AD-20CF, U + 2C60-2C7F, U + A720-A7FF;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY7rIa-7acMAeDBVuclsi6Gc.woff) format("woff");
	unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02C6, U + 02DA, U + 02DC, U + 2000-206F, U + 2074, U + 20AC, U + 2212, U + 2215;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz15FvDNvdPsdjrXoo-3t7VI.woff) format("woff");
	unicode-range: U + 0460-052F, U + 20B4, U + 2DE0-2DFF, U + A640-A69F;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz8q-fYJSUDU517wt_kMW1O4.woff) format("woff");
	unicode-range: U + 0400-045F, U + 0490-0491, U + 04B0-04B1, U + 2116;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz71wkDAqCHpW7jjyGdoLYww.woff) format("woff");
	unicode-range: U + 1F00-1FFF;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz-eItgsw7fd4dABM0p75iuc.woff) format("woff");
	unicode-range: U + 0370-03FF;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz03TQUOE02oqR40oNH-rSXU.woff) format("woff");
	unicode-range: U + 0102-0103, U + 1EA0-1EF9, U + 20AB;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz1mCqlVkAKWSsCLr-ca_Zfo.woff) format("woff");
	unicode-range: U + 0100-024F, U + 1E00-1EFF, U + 20A0-20AB, U + 20AD-20CF, U + 2C60-2C7F, U + A720-A7FF;
}

@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzxbnBKKEOwRKgsHDreGcocg.woff) format("woff");
	unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02C6, U + 02DA, U + 02DC, U + 2000-206F, U + 2074, U + 20AC, U + 2212, U + 2215;
}

@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata Regular"), local("Inconsolata-Regular"), url(https://fonts.gstatic.com/s/inconsolata/v15/BjAYBlHtW3CJxDcjzrnZCLRsNIf_kK-0eqscXuWZX_c.woff) format("woff");
	unicode-range: U + 0102-0103, U + 1EA0-1EF9, U + 20AB;
}

@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata Regular"), local("Inconsolata-Regular"), url(https://fonts.gstatic.com/s/inconsolata/v15/BjAYBlHtW3CJxDcjzrnZCB_quwpF5VQRtO_OGdWuV3s.woff) format("woff");
	unicode-range: U + 0100-024F, U + 1E00-1EFF, U + 20A0-20AB, U + 20AD-20CF, U + 2C60-2C7F, U + A720-A7FF;
}

@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: local("Inconsolata Regular"), local("Inconsolata-Regular"), url(https://fonts.gstatic.com/s/inconsolata/v15/BjAYBlHtW3CJxDcjzrnZCLrIa-7acMAeDBVuclsi6Gc.woff) format("woff");
	unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02C6, U + 02DA, U + 02DC, U + 2000-206F, U + 2074, U + 20AC, U + 2212, U + 2215;
}

@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 700;
	src: local("Inconsolata Bold"), local("Inconsolata-Bold"), url(https://fonts.gstatic.com/s/inconsolata/v15/AIed271kqQlcIRSOnQH0yU3TQUOE02oqR40oNH-rSXU.woff) format("woff");
	unicode-range: U + 0102-0103, U + 1EA0-1EF9, U + 20AB;
}

@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 700;
	src: local("Inconsolata Bold"), local("Inconsolata-Bold"), url(https://fonts.gstatic.com/s/inconsolata/v15/AIed271kqQlcIRSOnQH0yVmCqlVkAKWSsCLr-ca_Zfo.woff) format("woff");
	unicode-range: U + 0100-024F, U + 1E00-1EFF, U + 20A0-20AB, U + 20AD-20CF, U + 2C60-2C7F, U + A720-A7FF;
}

@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 700;
	src: local("Inconsolata Bold"), local("Inconsolata-Bold"), url(https://fonts.gstatic.com/s/inconsolata/v15/AIed271kqQlcIRSOnQH0yRbnBKKEOwRKgsHDreGcocg.woff) format("woff");
	unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02C6, U + 02DA, U + 02DC, U + 2000-206F, U + 2074, U + 20AC, U + 2212, U + 2215;
}

html {
	box-sizing: border-box;
}

*, * :before, * :after {
	box-sizing: inherit;
}

body {
	line-height: 1.5;
	font-family: 'Roboto Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #000;
}

.header {
	padding: 60px 0 0 0;
}

@media screen and (min-width: 800px) {
	.header {
		padding: 120px 0 0 0;
	}
}

.header .wrap {
	position: relative;
	width: 100%;
	max-width: 1276px;
	margin: 0 auto;
	padding: 0 10%;
}

@media screen and (min-width: 1276px) {
	.header .wrap {
		padding: 0 120px;
	}
}

.mark {
	position: relative;
	left: -4px;
	width: 50px;
	margin: 0 0 30px 0;
}

@media screen and (min-width: 800px) {
	.mark {
		width: 60px;
	}
}

.mark a {
	display: block;
}

.mark svg {
	display: block;
}

@media screen and (min-width: 800px) {
	.mark svg {
		width: 60px;
		height: 60px;
	}
}

.mark .circle {
	fill: #000;
}

.mark .line {
	fill: #fff;
}

.mark .j {
	fill: #fff;
}

.mark .c {
	fill: #fff;
}

.return {
	position: absolute;
	right: 10%;
	top: 15px;
	z-index: 1;
}

@media screen and (min-width: 800px) {
	.return {
		top: 20px;
	}
}

.return a {
	color: #b5b5b5;
	text-decoration: none;
}

.return a:hover {
	color: #1581e8;
}

.introduction {
	width: 100%;
	max-width: 16.666666667em;
	margin: 0;
	font-size: 1.5rem;
	line-height: 1.416666667;
}

@media screen and (min-width: 800px) {
	.introduction {
		max-width: 18.055555556em;
		font-size: 2.25rem;
	}
}

@media screen and (min-width: 480px) {
	.line-break:first-of-type {
		display: block;
	}
}

.line-break:last-of-type {
	display: block;
	margin: 0.555555556em 0 0 0;
}

.primary-navigation {
	margin: 5px 0 0 0;
}

@media screen and (min-width: 800px) {
	.primary-navigation {
		margin: 15px 0 0 0;
	}
}

.primary-navigation ul {
	margin: 0;
	padding: 0;
}

.primary-navigation li {
	display: inline-block;
	margin: 18px 18px 0 0;
	font-size: 1.125rem;
	line-height: 1.333333333;
	list-style: none;
}

@media screen and (min-width: 360px) {
	.primary-navigation li {
		margin-right: 30px;
	}
}

.primary-navigation li:last-of-type {
	margin-right: 0;
}

.primary-navigation a {
	color: #1581e8;
	text-decoration: none;
}

.primary-navigation a:hover {
	border-bottom: 1px solid #1581e8;
}

.content .wrap {
	width: 100%;
	max-width: 1276px;
	margin: 0 auto;
	padding: 0 10%;
}

@media screen and (min-width: 1276px) {
	.content .wrap {
		padding: 0 120px;
	}
}

.section {
	padding: 60px 0 0 0;
}

@media screen and (min-width: 800px) {
	.section {
		padding: 120px 0 0 0;
	}
}

.section .section-title {
	margin: 0 0 1.875em 0;
	font-size: 1rem;
	font-weight: normal;
	text-transform: uppercase;
	color: #b5b5b5;
}

.projects {
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 800px) {
	.projects {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
	}
}

.project {
	display: block;
	margin: 60px 0 0 0;
}

@media screen and (min-width: 800px) {
	.project {
		width: 47%;
		margin: 80px 0 0 0;
	}
}

.project:nth-child(1) {
	margin: 0;
}

@media screen and (min-width: 800px) {
	.project:nth-child(2) {
		margin: 0;
	}
}

.project .thumbnail {
	position: relative;
	padding: 0 20px 0 0;
	overflow: hidden;
}

.project .thumbnail a {
	display: block;
}

.project img {
	display: block;
	box-sizing: content-box;
	width: 100%;
	max-width: 100%;
	height: auto;
	border: 1px solid #dbdbdb;
}

.project .overlay {
	position: absolute;
	right: 0;
	bottom: 0;
	border: 1px solid #dbdbdb;
	box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.15);
	z-index: 1;
}

.project .overlay img {
	border: none;
}

.project .medium {
	width: 50%;
}

.project .small {
	width: 30%;
}

.project .title {
	margin: 1.333333333em 0 0 0;
	font-size: 1rem;
}

@media screen and (min-width: 800px) {
	.project .title {
		font-size: 1.125rem;
	}
}

.project .title.available-soon {
	color: #b5b5b5;
}

.project .title.available-soon:after {
	content: "Available Soon";
	position: relative;
	bottom: 3px;
	display: inline;
	margin: 0 0 0 1em;
	padding: 0 2px;
	font-size: 0.625rem;
	font-weight: normal;
	text-transform: uppercase;
	border: 1px solid #b5b5b5;
	color: #fff;
	background: #b5b5b5;
	border-radius: 3px;
}

.project .title a {
	color: #000;
	text-decoration: none;
}

.project .title a:hover {
	color: #1581e8;
}

.project .responsibilities {
	margin: 7px 0 0 0;
}

.project .responsibilities ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.project .responsibilities li {
	display: inline;
	line-height: 1.5;
	color: #b5b5b5;
}

.archive .project {
	margin: 25px 0 0 0;
}

.archive .project:nth-child(1) {
	margin: 0;
}

@media screen and (min-width: 800px) {
	.archive .project:nth-child(2) {
		margin: 0;
	}
}

.archive .title {
	margin: 0;
}

.archive .title.available-soon:after {
	margin: 0;
}

.individual-project {
	position: relative;
}

.individual-project .project-title {
	width: 100%;
	max-width: 16.666666667em;
	margin: 0;
	font-size: 1.5rem;
	line-height: 1.416666667;
}

@media screen and (min-width: 800px) {
	.individual-project .project-title {
		max-width: 18.055555556em;
		font-size: 2.25rem;
	}
}

.individual-project .external-url {
	margin: 30px 0 0 0;
}

.individual-project .external-url a {
	display: inline-block;
	padding: 5px 12px;
	color: #fff;
	background-color: #b5b5b5;
	text-decoration: none;
}

.individual-project .external-url a:hover {
	background-color: #1581e8;
}

.individual-project .samples {
	position: relative;
	padding: 60px 34px 0 0;
	overflow: hidden;
}

.individual-project .samples.multiple {
	padding-right: 34px;
}

@media screen and (min-width: 800px) {
	.individual-project .samples {
		padding-top: 120px;
	}
}

.individual-project .image {
	border: 1px solid #dbdbdb;
}

.individual-project img {
	display: block;
	box-sizing: content-box;
	width: 100%;
	max-width: 100%;
	height: auto;
}

.individual-project .overlay {
	position: absolute;
	right: 0;
	bottom: 0;
	border: 1px solid #dbdbdb;
	box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.individual-project .medium {
	width: 50%;
}

@media screen and (min-width: 1250px) {
	.individual-project .medium {
		width: auto;
	}
}

.individual-project .small {
	width: 30%;
}

@media screen and (min-width: 1100px) {
	.individual-project .small {
		width: auto;
	}
}

.individual-project .responsibilities {
	padding: 60px 0 0 0;
}

@media screen and (min-width: 800px) {
	.individual-project .responsibilities {
		padding: 120px 0 0 0;
	}
}

.individual-project .responsibilities .title {
	margin: 0 0 1.875em 0;
	font-size: 1rem;
	font-weight: normal;
	text-transform: uppercase;
	color: #b5b5b5;
}

.individual-project .responsibilities ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.individual-project .responsibilities li {
	display: inline;
}

.footer {
	padding: 60px 0;
}

@media screen and (min-width: 800px) {
	.footer {
		padding: 120px 0;
	}
}

.footer .wrap {
	width: 100%;
	max-width: 1276px;
	margin: 0 auto;
	padding: 0 10%;
}

@media screen and (min-width: 1276px) {
	.footer .wrap {
		padding: 0 120px;
	}
}

.contact {
	margin: 0 0 60px 0;
}

@media screen and (min-width: 800px) {
	.contact {
		margin: 0 0 120px 0;
	}
}

.contact .section-title {
	margin: 0 0 1.5em 0;
	font-size: 1rem;
	font-weight: normal;
	text-transform: uppercase;
	color: #b5b5b5;
}

.contact-information {
	width: 100%;
	max-width: 40.625em;
}

.contact-information h3 {
	margin: 0 0 0.8em 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

@media screen and (min-width: 800px) {
	.contact-information h3 {
		font-size: 1.5rem;
	}
}

.contact-information p {
	margin: 0;
	line-height: 1.5;
}

.contact-information a {
	color: #1581e8;
	text-decoration: none;
}

.contact-information a:hover {
	border-bottom: 1px solid #1581e8;
}

.copyright {
	margin: 0;
	line-height: 1.5;
}

.copyright a {
	color: #000;
	text-decoration: none;
}

.copyright a:hover {
	color: #1581e8;
}
