---
layout: "layouts/base.njk"
alias: "project"
title: "Tend"
slug: "tend"
permalink: "{{ slug }}.html"
external_url: "http://www.wearetend.com"
external_url_label: "Visit Site"
isFeatured: ""
overlay:
  size: "small"
  small: "{{ metadata.mediaPath }}/{{ slug }}.jpg"
  medium: "{{ metadata.mediaPath }}/{{ slug }}.jpg"
  large: "{{ metadata.mediaPath }}/{{ slug }}.jpg"
image:
  small: "{{ metadata.mediaPath }}/{{ slug }}.jpg"
  medium: "{{ metadata.mediaPath }}/{{ slug }}.jpg"
  large: "{{ metadata.mediaPath }}/{{ slug }}.jpg"
tags: project
responsibilities:
  - Squarespace
  - Development
  - HTML
  - CSS
  - JavaScript
---

{% include 'layouts/project.njk' %}
