<!doctype html>

<html lang="en">

<head>

	<meta charset="utf-8" />

	<title>{% if pagination.alias == 'project' %}Work: {{ project.name }}{% else %}{{ metadata.description }}{% endif %} &mdash; {{ metadata.title }}</title>

	<meta name="description" content="{{ metadata.description }}" />
	<meta name="keywords" content="{{ metadata.keywords }}" />
	<meta name="generator" content="{{ eleventy.generator }}" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="theme-color" content="#ffffff" />

	<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}" />
	<link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}" />

	<link rel="icon" href="/assets/img/favicon.png" />
	<link rel="apple-touch-icon" href="/assets/img/touch-icon.png" />

	{# Capture the CSS content as a Nunjucks variable.
	   Source: https://www.11ty.dev/docs/quicktips/concatenate/ #}

	{% set css %}

		{# Common #}

		{% include "assets/css/common/variables.css" %}
		{% include "assets/css/common/reset.css" %}
		{% include "assets/css/common/baseline.css" %}

		{# Layouts #}

		{% include "assets/css/layouts/header.css" %}
		{% include "assets/css/layouts/main.css" %}
		{% include "assets/css/layouts/footer.css" %}

	{% endset %}

	<style type="text/css">

		{{ css | cssmin | safe }}

	</style>

</head>

<body class="{% if alias == 'project' %}single-project{% endif %}">

	<header class="header">

		<div class="wrap header__wrap">

			<div class="mark">

				<a href="/" aria-label="{{ metadata.author.name }}"class="mark__link">

					{% include 'logo.svg' %}

				</a>

			</div>

			{% if alias == 'project' %}

				<div class="return">

					{% if isFeatured == 'yes' %}

						<a href="/#work" class="return__link">

							Work

					{% else %}

						<a href="/#archive" class="return__link">

							Archive

					{% endif %}

						<span class="arrow return__arrow">&#8617;&#xFE0e;</span>

					</a>

				</div>

			{% else %}

				<h1 class="introduction">Hello, I&rsquo;m {{ metadata.author.name }}, <span class="line-break">an independent web designer and developer.</span> <span class="line-break">Nice to meet you.</span></h1>

				<nav class="primary-navigation" role="navigation">

					<ul class="list primary-navigation__list">

						<li class="item primary-navigation__item">

							<a href="#work" class="link primary-navigation__link">Work</a>

						</li>

						<li class="item primary-navigation__item">

							<a href="#archive" class="link primary-navigation__link">Archive</a>

						</li>

						<li class="item primary-navigation__item">

							<a href="#contact" class="link primary-navigation__link">Contact</a>

						</li>

					</ul>

				</nav>

			{% endif %}

		</div>

	</header>

	<main class="content main">

		<div class="wrap main__wrap">

			{{ content | safe }}

			<section id="archive" class="archive section section__archive">

				<header class="section-header section__header">

					<h2 class="section-title section__title">Archive</h2>

				</header>

				<ul class="projects project__list project__list--archive">

					{%- for project in collections.work -%}

						<li class="project project__item project__item--archive">

							<h3 class="title project__title project__title--archive">

								<a href="{{ project.data.slug }}.html" class="project__link project__link--archive">{{ project.data.title }}</a>

							</h3>

						</li>

					{%- endfor -%}

				</ul>

			</section>

		</div>

	</main>

	<footer class="footer">

		<div class="wrap footer__wrap">

			<div id="contact" class="contact">

				<div class="section-header">

					<h2 class="section-title">Contact</h2>

				</div>

				<div class="contact-information">

					<h3>Let&rsquo;s work together.</h3>

					<p>I love designing and building sites that work everywhere. If you think I&rsquo;d be a good fit for your next project, <a href="mailto:{{ metadata.author.email }}?subject={{ metadata.url }}:%20A%20note%20via%20the%20website">drop me a line</a>. I&rsquo;d love to hear from you.</p>

				</div>

			</div>

			<p class="copyright">Copyright 2022 {{ metadata.author.name }}.</p>

		</div>

	</footer>

</body>

</html>
