<!doctype html>

<html lang="en">

<head>

	<meta charset="utf-8" />

	<title>{% if pagination.alias == 'project' %}Work: {{ project.name }}{% else %}Handcrafted design and development for the web{% endif %} &mdash; Joshua Coleman</title>

	<meta name="description" content="Handcrafted design and development for the web" />

	<meta name="keywords" content="web, design, development, craft, expressionengine, wordpress, eleventy, static, serverless, html, php, css, javascript" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="theme-color" content="#ffffff" />

	<link rel="icon" href="/assets/img/favicon.png" />
	<link rel="apple-touch-icon" href="/assets/img/touch-icon.png" />

	<link rel="stylesheet" href="/assets/css/styles.css" media="screen" />

</head>

<body class="{% if pagination.alias == 'project' %}single-project{% endif %}">

	<header class="header">

		<div class="wrap header__wrap">

			<div class="mark">

				<a href="/">

					{% include 'logo.svg' %}

				</a>

			</div>

			{% if pagination.alias == 'project' %}

				<div class="return">

					{% if project.featured == 'Featured' %}

						<a href="/#work">

							Work

					{% else %}

						<a href="/#archive">

							Archive

					{% endif %}

						<span class="arrow">&#8617;&#xFE0e;</span>

					</a>

				</div>

			{% else %}

				<h1 class="introduction">Hello, I&rsquo;m Joshua Coleman, <span class="line-break">an independent web designer and developer.</span> <span class="line-break">Nice to meet you.</span></h1>

				<nav class="primary-navigation" role="navigation">

					<ul>

						<li>

							<a href="#work">Work</a>

						</li>

						<li>

							<a href="#archive">Archive</a>

						</li>

						<li>

							<a href="#contact">Contact</a>

						</li>

					</ul>

				</nav>

			{% endif %}

		</div>

	</header>

	<main class="content main">

		<div class="wrap main__wrap">

			{{ content | safe }}

		</div>

	</main>

	<footer class="footer">

		<div class="wrap footer__wrap">

			<div id="contact" class="contact">

				<div class="section-header">

					<h2 class="section-title">Contact</h2>

				</div>

				<div class="contact-information">

					<h3>Let&rsquo;s work together.</h3>

					<p>I love designing and building sites that work everywhere. If you think I&rsquo;d be a good fit for your next project, <a href="mailto:coleman.work@icloud.com?subject=coleman.work:%20A%20note%20via%20the%20website">drop me a line</a>. I&rsquo;d love to hear from you.</p>

				</div>

			</div>

			<p class="copyright">Copyright 2022 Joshua Coleman.</p>

		</div>

	</footer>

</body>

</html>
