---
title: Portfolio
---

<!doctype html>

<html lang="en">

<head>

	<meta charset="utf-8" />

	<title>{{ title }}</title>

	<meta name="description" content="Handcrafted design and development for the web" />
	<meta name="keywords" content="web, design, development, craft, expressionengine, wordpress, eleventy, static, serverless, html, php, css, javascript" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="theme-color" content="#ffffff" />

	<link rel="shortcut icon" href="/assets/img/favicon.png" />
	<link rel="apple-touch-icon" href="/assets/img/touch-icon.png" />

	<style>

		/* Import all styles. */

	</style>

</head>

<body class="">

	<p>Hello.</p>

	{#

	<header class="header">

		<div class="wrap header__wrap">

			<div class="mark">

				<a href="/" class="mark__link">

					<svg class="mark__svg"></svg>

				</a>

			</div>

			<nav role="navigation" class="navigation">

				<ol class="list navigation__list">

					<li class="item navigation__item">

						<a href="#" class="link navigation__link">Title</a>

					</li>

					<li class="item navigation__item">

						<a href="#" class="link navigation__link">Title</a>

					</li>

					<li class="item navigation__item">

						<a href="#" class="link navigation__link">Title</a>

					</li>

				</ol>

			</nav>

		</div>

	</header>

	<main class="main">

		<div class="wrap main__wrap">

			{{ content | safe }}

			<!-- Section: Introduction -->

			<div class="introduction">

				<h1 class="heading introduction__heading">Hello, I&rsquo;m Joshua.</h1>

				<div class="introduction__detail">

					<p>I&rsquo;m an independent web design and developer in Florida. I love building open-source <a href="#" class="">projects</a> and <a href="#" class="">writing</a> about what I learn. This website is my digital garden &mdash; a compendium of the things I&rsquo;ve learned and created over the years</p>

				</div>

			</div>

		</div>

	</main>

	<footer class="footer">

		<div class="wrap footer__wrap">

			<h2 class="heading subheading">Contact</h2>

			<h3 class="heading subheading">Let&rsquo;s work together.</h3>

			<p>I love designing and building sites that work everywhere. If you think I&rsquo;d be a good fit for your next project, <a href="#" class="link">drop me a line</a>. I&rsquo;d love to hear from you.</p>

			<div class="">

				Made by Joshua Coleman

				<ol class="">

					<li class="">

						<a href="#" class="link">Newsletter</a>

					</li>

					<li class="">

						<a href="#" rel="external" class="link">Ko-Fi</a>

					</li>

					<li class="">

						<a href="#" rel="external" class="link">Patreon</a>

					</li>

					<li class="">

						<a href="#" class="link">RSS</a>

					</li>

				</ol>

			</div>

			<div class="">

				<ol class="">

					<li class="">

						<a href="#" rel="external" class="link">Gatsby</a>

					</li>

					<li class="">

						<a href="#" rel="external" class="link">Netlify</a>

					</li>

					<li class="">

						<a href="#" rel="external" class="link">Netlify</a>

					</li>

				</ol>

			</div>

			<p class="copyright">Copyright 2022 Joshua Coleman.</p>

		</div>

	</footer>

	#}

</body>

</html>
