<div class="individual-project">

	<h1 class="project-title">{{ title }}</h1>

	{% if external_url %}

		<div class="external-url">

			<a href="{{ external_url }}" rel="external">{{ external_url_label }}</a>

		</div>

	{% endif %}

	<div class="samples{%if overlay.size == 'small' or overlay.size == 'medium' %} multiple{% endif %}">

		<div class="image">

			<picture>

				<source srcset="/media/work/{{ slug }}-large.jpg" media="(min-width: 800px)">

				<img srcset="/media/work/{{ slug }}-large.jpg" loading="lazy" width="" height="" alt="Large screen view of {{ title }}">

			</picture>

		</div>

		{% if overlay.size == 'small' %}

			<div class="overlay small">

				<picture>

					<source srcset="/media/work/{{ slug }}-small.jpg" media="(min-width: 800px)">

					<img srcset="/media/work/{{ slug }}-small.jpg" loading="lazy" width="" height="" alt="Small screen view of {{ title }}">

				</picture>

			</div>

		{% endif %}

		{% if overlay.size == 'medium' %}

			<div class="overlay medium">

				<picture>

					<source srcset="/media/work/{{ slug }}-medium.jpg" media="(min-width: 800px)">

					<img srcset="/media/work/{{ slug }}-medium.jpg" loading="lazy" width="" height="" alt="Medium screen view of {{ title }}">

				</picture>

			</div>

		{% endif %}

	</div>

	<div class="responsibilities">

		<h2 class="title">Responsibilities</h2>

		<ul>

			{% for responsibility in responsibilities %}

				<li>{{ responsibility }}</li>

			{% endfor %}

		</ul>

	</div>

</div>
