/*------------------------------
Variables
------------------------------*/

:root {

	--color-black: #000000;
	--color-white: #ffffff;

	--color-gray-10: #e6e6e6;
	--color-gray-20: #cbcbcb;
	--color-gray-30: #b4b4b4;
	--color-gray-40: #9a9a9a;
	--color-gray-50: #808080;
	--color-gray-60: #656565;
	--color-gray-70: #4d4d4d;
	--color-gray-80: #333333;
	--color-gray-90: #191919;

	--color-primary: #1581e8;
	--color-yellow: #ffff00;

}
